@media print, (max-width: 1500px) {

    :root {
        --font_size_title: 40px;
    }
    header .menu .item a,
    footer .menu .item a {
        font-size: 21px;
    }
    .advantages_item-text {
        font-size: 20px;
    }
    .first-section_img {
        width: 580px;
        height: 412px;
        margin-right: 0;
    }
    .first-section_info ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .first-section_info {
        margin-top: 0;
    }
    .first-section_wrap {
        align-items: center;
    }
    .callback_form .line .field {
        max-width: 286px;
        padding: 0 20px;
    }
    .callback_form {
        padding: 107px 142px 184px 235px;
    }
    .bottom-block .cont {
        padding: 0 80px;
    }
    .advantages_item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .advantages_item:nth-child(2) {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .advantages_item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;        
    }
    .advantages_item:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .advantages_item:nth-child(5) {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .advantages_item:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .advantages_item:nth-child(7) {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .advantages_item:nth-child(6) .advantages_item-img, 
    .advantages_item:nth-child(7) .advantages_item-img {
        margin-right: 0;
    }
    .advantages_item:nth-child(3) .advantages_item-img {
        width: 105px;
        height: auto;
        margin-right: 0;
        transform: rotate(-12deg);
        margin-top: 0;
        margin-bottom: -210px;
    }



}

