@media (max-width: 479px) {

    .btn-page {
        width: 100%;
    }
    .vacancy_item-info {
        padding: 30px 25px 27px 30px;
    }
    .vacancy .link-more {
        margin-top: 15px;
    }
    .social_item {
        width: 144px;
        height: 40px;
    }
    .social_item img {
        width: 100%;
        height: 100%;
    }
    .text {
        margin-bottom: 30px;
    }
    .title {
        margin-bottom: 20px;
    }
    .advantages_item ul li {
        font-size: 14px;
    }
    .advantages_item-text {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .advantages_item-top {
        margin-bottom: 24px;
    }
    .gallery {
        padding: 100px 0 120px;
    }
    .about_wrap {
        padding: 33px 20px;
    }
    .about_logo {
        margin-bottom: 39px;
    }
    .about_wrap p + p {
        margin-top: 15px;
    }
    .about_wrap p {
        font-size: 14px;
    }
    .faq {
        padding: 50px 0 100px;
    }
    .callback {
        padding: 40px 0 60px;
        margin-bottom: 100px;
    }
    .callback form button {
        width: 100%;
    }
    .footer_wrap {
        margin-bottom: 74px;
    }
    .accordion_item .head .accordion_title,
    .accordion_item .data {
        font-size: 16px;
    }
    .faq_title {
        margin-bottom: 25px;
    }
    .modal_bottom-phone {
        width: 100%;
    }
    .step_items > * {
        padding-left: 77px;
    }
    .vacancy_item-text {
        font-size: 14px;
    }
    .vacancy_item-text p:first-child {
        margin-bottom: 15px;
    }
    .header_info ul li {
        font-size: 14px;
    }
    .footer_right-title {
        margin-bottom: 9px;
    }
    .footer_right-title:before {
        position: absolute;
        content: "";
        width: 122px;
        height: 131px;
        background: url(../images/footer_arrow2.png);
        bottom: -100px;
        right: -57px;
    }
    .radio_box {
        display: flex;
        justify-content: space-between;
    }
    .radio_block label {
        margin-right: 0px;
    }
    .radio_block-label {
        margin-bottom: 22px;
    }


}
