@media print, (max-width: 1187px) {

    .footer_right-title:before {
        bottom: -103px;
        right: -27px;
        width: 148px;
        height: 170px;
        background-size: contain;
        background-repeat: no-repeat;
    }






}
