@media print, (max-width: 1023px) {
 
    :root {
        --font_size_title: 32px;
        --font_size: 18px;
    }
    header .mob_menu_btn {
        display: flex;
        order: 1;
    }
    header .menu {
        position: fixed;
        z-index: 666;
        top: 0;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 113px 22px 57px;        
        transition: transform .3s linear;
        transform: translateX(-100%);
        background: #fff;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        text-align: center;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu_open header {
        background: #2A292F;
    }
    header .close_btn {
        display: none;
    }
    header .menu .item a {
        font-size: 20px;
        line-height: 1;
    }
    header .menu .item {
        margin-bottom: 24px;
    }
    header .menu .item:last-child {
        margin-bottom: 0px;
    }
    header .menu .item.active a {
        text-shadow: none;
        font-weight: 700;
    }
    .top_block {
        display: none;
    }
    .top_block-mob {
        display: block;
        margin: 35px auto 0;
    }
    .header_logo {
        margin-bottom: 50px;
        width: 280px;
        height: 54px;
    }
    header {
        padding: 20px 0 100px;
    }
    header .mob_menu_btn {
        position: absolute;
        top: 30px;
        right: 20px;
    }
    .menu_open header .close_btn {
        display: block;
        top: 20px;
        right: 20px;
        z-index: 999;
        position: absolute;
    }
    .header_logo-mob {
        display: block;
        width: 280px;
        height: 54px;
        margin-bottom: 110px;
    }
    .header_logo-mob img {
        width: 100%;
        height: 100%;
    }
    header .menu {
        padding: 20px 36px 52px;
    }
    .top_block-mob .langs {
        position: absolute;
        top: 100px;
        left: 36px;
    }
    .top_block-phone {
        font-size: 38px;
        margin-bottom: 28px;
    }
    .top_block-soc {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
    .top_block-soc a {
        width: 42px;
        height: 42px;
    }
    .footer_wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_right-title:before {
        right: -55px;
    }
    .vacancy {
        padding: 50px 0 37px;
    }
    .title {
        margin-bottom: 30px;
    }
    header {
        padding: 20px 0 50px;
    }
    .header_title {
        font-size: 40px;
    }
    .header_text {
        font-size: 22px;
    }
    .header_info ul {
        margin-bottom: 30px;
    }
    .vacancy_items {
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    .vacancy_items > * {
        width: calc(100%/2 - 10px);
    }
    .social_items {
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        max-width: 850px;
    }
    .text {
        font-size: 20px;
    }
    .step_text {
        margin-bottom: 40px;
    }
    .step_title {
        margin-bottom: 20px;
    }
    .step_items > * {
        width: calc(100%/2 - 20px);
    }
    .step_item-title {
        font-size: 20px;
    }
    .step_item:before {
        top: -5px;
    }
    .step_items {
        grid-row-gap: 25px;
        grid-column-gap: 20px;
    }
    .advantages {
        padding: 40px 0 50px;
    }
    .advantages_items {
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    .advantages_items > * {
        width: calc(100%/2 - 10px);
        padding: 20px;
    }
    .advantages_item-title {
        font-size: 20px;
    }
    .gallery {
        padding: 50px 0 80px;
    }
    .about {
        padding: 50px 0;
    }
    .about_wrap {
        padding: 20px;
    }
    .faq {
        padding: 59px 0 50px;
    }
    .callback_wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .callback_info {
        width: 100%;
    }
    .callback form {
        width: 100%;
    }
    .callback_text {
        font-size: 20px;
    }
    .callback {
        padding: 50px 0 50px;
        margin-bottom: 50px;
    }
    .footer_box {
        gap: 30px;
    }
    .accordion_item .data {
        padding: 25px 27px 35px;
    }
    .langs .mini_modal {
        right: 0;
    }




    
}
