@media print, (max-width: 767px) {

    :root {
        --font_size_title: 30px;
        --font_size: 18px;
    }

    .header_logo-mob {
        width: 170px;
        height: 33px;
    }
    .header_logo {
        margin-bottom: 50px;
        width: 170px;
        height: 33px;
    }
    header .mob_menu_btn {
        top: 15px;
    }
    .menu_open header .close_btn {
        top: 0px;
    }

    header {
        background-position: 70% center;
    }
    .header_title {
        font-size: 30px;
        margin-bottom: 16px;
    }
    .header_text {
        font-size: 18px;
        margin-bottom: 123px;
    }
    .header_info ul {
        flex-direction: column;
    }
    .header_info ul li {
        width: 200px;
        padding: 14px 20px;
    }
    .header_info ul li + li {
        margin-left: 0px;
        margin-top: 10px;
    }
    header {
        padding: 20px 0 43px;
    }
    .title {
        text-align: center;
    }
    .vacancy_items {
        grid-row-gap: 30px;
        grid-column-gap: 0px;
    }
    .vacancy_items > * {
        width: 100%;
    }
    .vacancy_item-info {
        padding: 30px;
    }
    .text {
        font-size: 18px;
    }
    .step_items {
        grid-row-gap: 20px;
        grid-column-gap: 0px;
    }
    .step_items > * {
        width: 100%;
    }
    .step_item-title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .advantages_items {
        grid-column-gap: 0px;
    }
    .advantages_items > * {
        width: 100%;
        padding: 30px 20px 26px;
    }
    .advantages .btn-page {
        margin: 30px auto 0;
    }
    .advantages {
        padding: 40px 0 37px;
    }
    .advantages_item-title {
        font-size: 24px;
    }
    .swiper {
        padding: 0px;
    }
    .swiper-button-prev, 
    .swiper-rtl .swiper-button-next {
        display: none;
    }
    .swiper-button-next, 
    .swiper-rtl .swiper-button-prev {
        display: none;
    }
    .accordion_item .head {
        padding: 17px 18px 20px;
    }
    .accordion_item .data {
        padding: 25px 18px 35px;
    }
    .callback_text {
        font-size: 18px;
        text-align: center;
    }
    .footer_logo {
        text-align: center;
    }
    .footer_logo:before {
        width: 100%;
    }
    .footer_box {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer_links,
    .footer_vacancy,
    .footer_contact {
        text-align: center;
    }
    .footer_left {
        width: 100%;
    }
    .text br {
        display: none;
    }
    .title br {
        display: none;
    }
    .step_text {
        text-align: center;
    }
    .modal_title {
        font-size: 24px;
        margin-bottom: 34px;
        padding-right: 30px;
    }
    .modal_title br {
        display: none;
    }
    .modal {
        padding: 30px 20px 40px;
    }
    .radio_block label {
        margin-right: 25px;
    }
    .radio_block {
        margin-top: 30px;
        margin-bottom: 32px;
    }
    .fancybox__content>.carousel__button.is-close {
        top: 25px;
        right: 20px;
    }
    .select-input {
        margin-top: 20px;
    }
    .modal3 .btn-page {
        margin-top: 36px;
    }
    .modal2 .modal_title {
        margin-bottom: 33px;
    }
    .modal_bottom {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 34px;
        margin-bottom: 30px;
    }
    .modal_bottom-title {
        margin-bottom: 20px;
    }
    .modal .swiper {
        padding: 0px;
    }
    .vacancy_item-text {
        font-size: 16px;
    }
    .header_info ul li {
        font-size: 16px;
    }
    .floating-button {
        display: none !important;
    }
 



}
