@media print, (max-width: 767px) {

    :root {
        --font_size_title: 24px;
        --font_size: 16px;
    }
    .first-section_info ul {
        margin-top: 17px;
        margin-bottom: 24px;
    }
    .first-section_info ul li {
        font-size: 15px;
    }
    .advantages_item-text {
        font-size: 20px;
    }
    .header_logo span {
        font-size: 15px;
    }
    .first-section_title span br {
        display: none;
    }
    .training_item {
        width: 100%;
        flex-direction: row;
        padding: 17px 0 0 17px;
    }
    .training_item-info {
        max-width: 50%;
        padding-right: 3px;
    }
    .training_item-title {
        font-size: 18px;
        margin-bottom: 11px;
    }
    .training_item-text {
        font-size: 16px;
    }
    .training_item-img {
        width: 50%;
        height: auto;
    }
    .title {
        margin-bottom: 20px;
    }
    .program_item {
        width: 100%;
        padding: 10px 0 0 12px;
        border-radius: 16px;
    }
    .program_items {
        gap: 9px;
    }
    .program_item-title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .tarif_items {
        gap: 26px;
    }
    .tarif_item {
        width: 100%;
    }
    .callback_wrap {
        margin: 20px 0 70px auto;
    }
    .callback_wrap:before {
        height: calc(100% - 120px);
        top: -60px;
        left: -960px;
    }
    .callback_title {
        color: #fff;
        position: relative;
        z-index: 99;
    }
    .callback_title b {
        color: #3F3F3F;
    }
    .callback_form-title {
        font-size: 22px;
        margin-bottom: 17px;
    }
    .callback_wrap:after {
        height: calc(100% - 120px);
        top: 60px;
    }
    .callback_wrap:after {
        height: calc(100% - 30px);
        top: 60px;
    }
    .callback_form {
        padding: 20px;
    }
    .btn {
        font-size: 16px;
    }
    .callback_form button {
        font-size: 16px;
    }
    .accordion_item .head .accordion_title {
        font-size: 16px;
        padding: 10px 0;
    }
    .faq_btn {
        width: 102px;
        height: auto;
    }
    .accordion_item .head:before {
        border-radius: 10px;
    }
    .accordion_item .head {
        padding-left: 20px;
    }
    .accordion_item .data {
        font-size: 16px;
        padding: 15px;
    }
    .bottom-block {
        padding: 20px 0 38px;
    }
    .first-section_title span + span {
        margin-top: 22px;
    }
    .program {
        padding-bottom: 50px;
    }
    .tarif {
        padding-bottom: 77px;
    }
    .advantages_items {
        grid-gap: 19px;
    }
    .accordion_item {
        margin-bottom: 18px;
    }
    .advantages {
        padding-bottom: 57px;
    }
    .faq {
        padding-bottom: 41px;
    }
    .tarif_item ul li {
        font-size: 15px;
    }
    .tarif_item-period {
        font-size: 16px;
    }
    .first-section_img-mob {
        margin-top: 10px;
    }
    .bottom-block .cont {
        padding: 0 40px;
    }


    




}
